.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 64px;
  background-color: #084298;
  transition: width 0.3s ease-in-out;
  float: right;
}

.nav_title {
  all: unset;
  flex-basis: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 1.5px;
}

.nav_item {
  position: absolute;
  right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.1s ease-in-out;
  margin: 0 4px;
}

.nav_register{
  position: absolute;
  top: 11px;
  right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav_login{
  position: absolute;
  top: 11px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav_logout{
  position: absolute;
  top: 11px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}