<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coin Market</title>

  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link href="../static/css/header.css" rel="stylesheet">
  <link href="../static/css/footer.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="navbar-brand" type="button" onclick="location.href='/'">Coin Market</div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="btn btn-light" type="button" onclick="location.href='/buy_coin'">코인 구매</div>
        <div class="btn btn-light" type="button" onclick="location.href='/trade_coin'">코인 거래</div>
      </div>
      <div class="btn_container">
        {% if not userid %}
        <button type="button" class="btn btn-primary nav_btn_register" onclick="location.href='/register'">회원가입</button>
        <button type="button" class="btn btn-secondary nav_btn" onclick="location.href='/login'">로그인</button>
        {% else %}
        <button type="button" class="btn btn-secondary nav_btn" onclick="location.href='/logout'">로그아웃</button>
        <p class="user_info">{{ session['username'] }} 님 환영합니다.</p>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="body_wrapper">
    <main class="body_content">
      <div class="content">
        <div class="box1">
          <p class="font_size">Market 보유 {{ market.coin_name }} 코인 수량: {{ market.coin_quantity }}개</p>
          <p class="font_size">Market 코인 가격: {{ market.coin_price }}원</p>
        </div>
        <br>
        <div class="box2">
          <p class="coin_price_size">현재 코인 가격: <span style="font-weight:bolder;">{{session['current_coin_price']}}원</span></p>
        </div>
        <br>
        <br>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>코인 가격 변동 내역</th>
              </tr>
            </thead>
            <tbody>
              {% for trade in trades %}
              {% if trade.is_completed == 1 %}
              <tr>
                <td>{{ trade.coin_price }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebar">
        {% if userid %}
        <br>
        <p>{{ session['username'] }}님의 잔액:</p>
        <p style="font-weight:bolder;">{{ session['amount'] }}원</p>
        <p>{{ session['username'] }}님이 보유한 Coin:</p>
        <p style="font-weight:bolder;">{{ session['coin'] }}개</p>
        <br>
        <div class="btn_group">
          <form action="/increase_balance" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-light">입금</button>
          </form>
          <span class="btn-spacing"></span>
          <form action="/decrease_balance" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-light">출금</button>
          </form>
        </div>
        {% else %}
        <p>로그인이 필요한 기능입니다.</p>
        {% endif %}
      </div>
    </main>

    <footer>
      <div class="footer_container">
        <div class="footer_item">
          <span class="footer_item_title">© 2023 Coin Market</span>
          <span class="footer_item">5조 한별, 한정민</span>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>