<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>코인 거래</title>

  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet" />
  <link href="../static/css/header.css" rel="stylesheet">
  <link href="../static/css/footer.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="navbar-brand" type="button" onclick="location.href='/'">Coin Market</div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="btn btn-light" type="button" onclick="location.href='/buy_coin'">코인 구매</div>
        <div class="btn btn-light" type="button" onclick="location.href='/trade_coin'">코인 거래</div>
        <form action="/increase_balance" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-light">입금</button>
        </form>
        <form action="/decrease_balance" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-light">출금</button>
        </form>
      </div>
      <div class="btn_container">
        {% if not userid %}
        <button type="button" class="btn btn-primary nav_btn_register" onclick="location.href='/register'">회원가입</button>
        <button type="button" class="btn btn-secondary nav_btn" onclick="location.href='/login'">로그인</button>
        {% else %}
        <button type="button" class="btn btn-secondary nav_btn" onclick="location.href='/logout'">로그아웃</button>
        <p class="user_info">{{ session['username'] }} 님 환영합니다.</p>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="body_wrapper">
    <main class="body_content">
      <h1>코인 거래</h1>
      {% if userid %}
      <p>{{ session['username'] }}님의 잔액: {{ session['amount'] }}원</p>
      <p>{{ session['username'] }}님이 보유한 Coin: {{ session['coin'] }}</p>
      <h3>거래 작성</h3>
      <form action="/trade_coin/create_trade" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.hidden_tag() }}
          {{ form.coin_quantity.label }}
          {{ form.coin_quantity() }}
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">거래글 작성</button>
        </div>
      </form>

      <h3>거래 선택</h3>
      {% for trade in trades %}
      <div>
        <p>판매자: {{ trade.seller_id }} </p>
        <p>거래 수량: {{ trade.coin_quantity }} 현재 코인 가격: {{ current_coin_price }}</p>
        <p>총 가격: {{ trade.coin_quantity * current_coin_price }}</p>
        <form method="POST" action="/trade_coin/select_trade">
          {{ form.csrf_token }}
          <input type="hidden" name="trade_id" value="{{ trade.id }}">
          <input type="submit" value="거래 선택">
        </form>
      </div>
      <br>
      {% endfor %}

      {% else %}
      <p>로그인이 필요합니다.</p>
      {% endif %}
    </main>
  </div>
  <footer>
    <div class="footer_container">
      <div class="footer_item">
        <span class="footer_item_title">© 2023 Coin Market</span>
      </div>
    </div>
  </footer>
</body>

</html>